Сегодня мы будем анализировать данные о зарплатах различных людей в зависимости от их красоты и других факторов.

скачать их можно тут: https://github.com/Yorko/mlcourse.ai/blob/main/data/beauty.csv

после скачивания положите их в папку с тетрадкой

In [9]:
import pandas as pd

data = pd.read_csv('beauty.csv')

In [10]:
data.head()

    wage  exper  union  goodhlth  black  female  married  service  educ  looks
0   5.73     30      0         1      0       1        1        1    14      4
1   4.28     28      0         1      0       1        1        0    12      3
2   7.96     35      0         1      0       1        0        0    10      4
3  11.57     38      0         1      0       0        1        1    16      3
4  11.42     27      0         1      0       0        1        0    16      3

In [11]:
import matplotlib.pyplot as plt
%matplotlib inline

В данных есть следующие признаки:

* wage - зарплата
* exper - сколько лет опыта работы
* union - состоит ли в профсоюзе
* goodhlth - всё ли у работника хорошо со здоровьем
* black - чернокожий ли работник
* female - 1, если женщина, 0 иначе
* married - состоит ли в браке
* service - 1, если работает в сфере услуг
* educ - сколько лет образования
* looks - насколько хорошо выглядит

### Задача 1
Постройте точечные графики зависимости зарплаты от всех остальных признаков.

Поясните в текстовой клетке, какие признаки по вашему мнению влияют на зарплату?

Постройте гистограмму зарплат.

In [ ]:

<YOUR CODE>

_ваш ответ здесь_

### Задача 2

У кого больше средняя зарплата: у черных женщин или у белых мужчин?

In [ ]:


<YOUR CODE>

_ваш ответ здесь_

### Задача 3

У кого минимальная зарплата? У кого максимальная? Выведите их признаки на экран

In [ ]:


<YOUR CODE>

### Задача 4

Кто получает больше: умные или красивые? (Придумайте сами, как это формализовать и опишите результат).

In [ ]:

<YOUR CODE>

### Задача 5

Постройте линейную регрессию, предсказывающую красоту человека по остальным признакам. 

Вспомните, зачем нужно шаклировать признаки?

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:

<YOUR CODE>

# Задача 6
Интерпретируйте коэфициенты линейной регрессии: по каким признакам можно угадать, красивый ли человек?

In [ ]:

<YOUR CODE>

# Задача 7
проделайте предыдущие два пункта для зарплаты

In [ ]:
<YOUR CODE>